@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* -------------------------
     Common Styles
------------------------------ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.all-btn{
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.medium-title{
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
/*----------------------------
     navber styles 
-------------------------------*/
.navber{
    display: flex;
    justify-content: space-around;
    background-color: #2D25A0;
}
.all-menu, .login-btn{
    margin-top: 42px;
}
.all-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 36px;
    color: white;
}
/* ---------------------------
    top banner section start 
---------------------------------*/
.top-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#2D25A0;
}

.top-banner-title{
    font-size: 64px;
    font-weight: bold;
    color: #FFFFFF;
}

.top-banner:hover .top-banner-img{
    transform: scale(1.2);
    transition: transform 1s;
}

.top-banner-contant{
    display: flex;
    width: 1144px;
    justify-content: center;
    align-items: center;
    margin: 39px 140px 86px 156px;
}

.top-banner-img img{
    width:556px;
    height: 438px;
}
/*-------------------------------
     All Player style 
----------------------------------*/
.all-player-list{ 
    margin-top: 60px; 
}

.all-palyers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    align-items: center;
}

.single-player{
    
    width: 330px;
    height: 474px;
    box-shadow: 5px 5px 30px lightgray;
}

.single-player .player-thambnail img{
    width: 300px;
    height: 256px;
    margin: 15px;
}

.player-name{
    font-size: 28px;
    color: #18191F;
    margin: 0;
}

.player-info{
    margin:0px 15px 15px 15px;
}

.player-info p {
   color: #6C6C6C;
   font-size: 16px;
   margin: 0;
}
/*------------------------------------
     world ranking styles 
----------------------------------------*/
.ranking-title{
    text-align: center;
    margin-top: 100px;
}
.all-countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap:20px ;
}
.single-countries{
    box-shadow: 5px 5px 30px lightgray;
    overflow: hidden;
}
.country-flag img{
    height: 174px;
    width: 280px;
    padding: 10px;
    
}
.single-countries:hover .country-flag{
    transform: scale(1.2);
    transition: transform 1s;
}

.country-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
}

/*------------------------------------
     heighlight section style 
--------------------------------------- */

.highlight-section{
    display: flex;
    width: 1102px;
    justify-content: center;
    align-items: center;
    margin: 155px 140px 86px 156px;
}

.highlight-text p{
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom: 34px;
    
}
.highlight-section .highlight-thambnail img{
    width: 567px;
}

/* ---------------------------------
     fifa partners section 
------------------------------------ */
.fifa-partners{
    text-align: center;
    margin-bottom: 50px;
}

hr{
    border: 1px solid #e4e8f0;
}

.all-partner img{
    
    margin-right: 70px;
    margin-bottom: 30px;
}

/*---------------------------------
     footer section  
------------------------------------*/
.footer-section{
    text-align: center;
}

.footer-section .footer-image img {
    width: 483.87px;
    height: 110px;
}

.footer-icon img{
    width: 32px;
    height: 32px;
    margin-right: 14px;
}

.copyright{
    font-size: 18px;
}

/* ------------------------------
    reponsive css mobile
----------------------------------*/
@media only screen and (max-width:767px) {
    header{
        display: none;
    }
    .top-banner-contant{
        width: 100%;
        display: block;
    }
    .top-banner-contant .top-banner-img img{
        width: 100%;
        margin-top: 50px;
    }
    .all-palyers{
        grid-template-columns: repeat(1, 1fr);
    }
    .ranking-title{
        width: 100%;
    }
    .all-countries{
        grid-template-columns: repeat(1, 1fr);
    }
    .single-countries, .country-flag img{
        width: 100%;
        ;
    }
    .highlight-text{
        margin: 20px;
    }
    .highlight-section{
        width: 100%;
        display: block;
        margin: 0;
    }
    .highlight-section .highlight-thambnail img{
        width: 100%;
    }
    .all-partner{
        width: 90%;
    }
    .footer-section .footer-image img {
        width: 100%;
    }
}

/* ------------------------------
    reponsive css Tab
----------------------------------*/
@media only screen and (min-width:768px) and (max-width:1024px){
    .top-banner-contant{
        width: 100%;
        display: block;
        margin: 0;
    }
    .top-banner-contant .top-banner-img {
        width: 100%;
        margin: 50px 20px 20px 80px;
    }
    .all-palyers{
        grid-template-columns: repeat(2, 1fr);
    }
    .all-countries{
        grid-template-columns: repeat(2, 1fr);
    }
    .highlight-section{
        width: 100%;
        display: block;
        margin: 0;
        padding-top: 50px;
        text-align: center;
    }
    .highlight-section .highlight-thambnail img{
        margin-top: 50px;
    }
    .all-partner{
        width: 100%;
        margin: 0;
    }
}